<ion-view>
	<ion-nav-title>
		{{SR.name}}
	</ion-nav-title>
	
	<ion-content class="padding">
		<ion-list>
			<ion-item class="item-text-wrap">
				<p><b>Name:</b> {{SR.name}}</p>
			</ion-item>
			<ion-item class="item-text-wrap">
				<p><b>Description:</b> {{SR.description}}</p>
			</ion-item>
			<ion-item class="item-text-wrap">
				<p><b>Type:</b> {{SR.type}}</p>
			</ion-item>
			<ion-item class="item-text-wrap">
				<p><b>Shared:</b> {{SR.shared}}</p>
			</ion-item>
			<ion-item class="item-text-wrap">
				<p><b>Usage:</b> {{SR.usage}}</p>
			</ion-item>
			<ion-item class="item-text-wrap">
				<p><b>Size:</b> {{SR.size}}</p>
			</ion-item>
			<ion-item class="item-text-wrap">
				<p><b>Virtual allocation:</b> {{SR.virtual}}</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>